* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-100: #F8F8F8;
  --gray-300: #d7d7d7;
  --gray-500: #BBBBBB;
  --gray-900: #1A1D23;

  --pink-900: #FF57B2;
}

@media(min-width:768px) {
  html {
    font-size: 87.5%;
  }
}

@media(min-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

body {
  background: var(--gray-900);
  color: var(--gray-100);
}

body,
input,
select,
textarea,
button {
  font: 400 1rem 'Inter', 'Helvetica Neue', sans-serif;
}

a {
  color: var(--pink-900);
}